@media (min-width: 600px) {
.exhibition_img {
     width: 400px;
}



.exhibition_mobile {
    display: none;
    }
        
.exhibition_spaces {
    display: block;
}

.exhibition_images {
    border-radius: 20%;
    height: 160px;
}
   
.visit_info {
    flex-direction: row;
    border-radius: 0px;
    text-align: unset;
}

.eventx img {
    width: 400px;
}
}


@media (min-width: 768px) {  
    .museum_info1 {
        display: flex;
        }
        
        .museum_info {
            display: flex;
            max-width: 1000px;
            margin: 50px auto;
        }
           
         .museum_info > * {
            margin: 10px;
        }
        
        .museum_info2 h2 {
            font-size: x-large;
            font-weight: bolder;
        }
            
        .museum_info3 {
            margin-top: 40px;
        }

.visit_content  {
    font-size: 24px;
}
    
.visit_content img {
    height: 400px;
}
        
.visit_info , 
.visit_content ,
.facility {
    max-width: 1000px;
    margin:  0px auto;
    padding: 0px;
}
            
.facility > * {
    flex-direction: row;
    text-align: unset;
}
}


@media (min-width: 900px) {
.footer-container {
    flex-direction: row;
    padding-top: 30px;
}
    
footer a {
    margin-top: 24px;
} 

.exhibition_content {
    flex-direction: row;
}

.exhibition_reverse {
    flex-direction: row-reverse;
}
}


@media (min-width: 966px){
header {
    justify-content: start;
}
        
nav li {
    display: inline-block;
    padding: 0px;
}
        
nav {
    display: block;
    position: static;
}
        
header label {
    display: none;
}

header a {
    margin: 0px;
}
}
    
    
@media (min-width: 1000px) {
.visit_content img {
    width: 100%; 
}

.visit_info {
    border-radius: 30px;
    padding: 0px;
}

.visit_location {
    padding-top: 50px;
}

.visit_content {
    padding: 30px;
    flex-direction: row;
}
.visit_content > * {
    flex: 1;
}

.facility > * {
    margin-bottom: 20px;
}

.why_visit {
    margin: 50px auto;
    flex-direction: row;
    padding: 50px;
}

.why_visit p {
    display: contents; 
}

.explore_img2 {
    display: block;
}

.eventx img {
    width: 250px;
}

.events_info {
    gap: 20px;
    padding: 30px;
    flex-direction: row;
}

.get_involved_content  ,
.explore_content {
    margin: 100px auto;
    gap: 60px;
    flex-direction: row;
}

.get_involved_info ,
.explore_info {
    border-radius: 30px;
}
.event_content {
    flex-direction: row;
    gap: 15px;
}

.event_content img {
    width: 250px;
}

.event_3 h2 {
    padding-bottom: 0px;
}

.event_view  {
    max-width: 1000px;
    margin: 50px auto;   
}

.event_view h1 {
    display: block;
}
}