/* temporary site, need to be added to css file*/

nav {
    display: none;
    position: fixed;
    background-color;
    background: #000;
    top: 80px;
    z-index: 1000;
    right: 0px;
}

header {
    height: 80px;
    width: 100%;
    z-index: 9999;
    position: fixed;
}