@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Regular.ttf) format("truetype");
}

body {
    font-family: Mulish, Muli, Avenir, Proxima Nova, Futura;
    font-variant: small-caps;
    background-color: #f5f5f5;
    margin: 0px;
    font-size: 20px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header a {
    color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;   
}

.logo {
    width: 70px;
}

nav {
    flex: 1;
    text-align: right;
}

nav a:hover {
    color: #C058AD;
}

nav li {
    display: block;
    padding: 0px;
}

nav {
    display: none;
    position: fixed;
    background-color;
    background: #000;
    top: 80px;
    z-index: 1000;
    right: 0px;
}

header {
    height: 80px;
    width: 100%;
    z-index: 9999;
    position: fixed;
}


#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.top h1 {
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
     margin: auto;
}

.top img {
    max-height: 390px; 
    min-height: 300px;
    margin-bottom: -5px;
}

header, 
footer {
    background-color: black;
    color: #fff;
}

footer a {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 60px;
    flex-direction: column;
}


.footer-info {
    display: flex;
    gap: 30px;
    
}

.footer2 p {
    margin-top: 0px;
}


.opening_info li ,
.footer_item3 li  {
    display: block;
}

.opening_info {
    margin-left: -40px ;
    margin-top: -20px;
}

.opening_info {
    display: flex;
}

/*Links */
a {
    text-decoration: none;
    color: #000;
}

.active {
    text-decoration: underline;
}

img {
    width: 100%;

}


/* Home-page*/
.home_page {
    border-top: 90px solid #002aa1;
}

.museum_info > * {
    margin: 0px;
}

.museum_info1 {
    background-color: #fecf63;
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 0px 10px;
    justify-content: space-evenly;

}
 
.museum_info2 {
    background-color:#92c77a ;
    padding: 20px;
}

.museum_info2 h2 {
    font-size: x-large;
    font-weight: bolder;
}

.exhibition_mobile {
    background: #000;
    padding: 30px;
    margin-top: -5px;
}

.exhibition_mobile div {
    border: 0px solid #000;

}

.exhibition_mobile p {
    margin-top: 10px;
}

.exhibition_mobile_1 {
    background: #faa03c;
}

.exhibition_mobile_2 {
    background: #d865aa
}

.exhibition_mobile_3 {
    background: #92c77a
}

.exhibition_mobile_4 {
    background: #31abeb
}

.exhibition_mobile_5 {
    background: #fecf63;
}

.cta_button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    padding: 10px 15px;
    background: #92c77a;
}

.cosmology {
    padding: 40px;
    background: #fff;
    border: 30px solid #faa03c; 
}

.medecine {
    padding: 40px;
    background: #fff;
    border: 30px solid #d865aa; 
}

.evolution {
    padding: 40px;
    background: #fff;
    border: 30px solid #92c77a; 
}

.robots {
    padding: 40px;
    background: #fff;
    border: 30px solid #31abeb;
}

.ecology {
    padding: 40px;
    background: #fff;
    border: 30px solid #fecf63
}

.exhibition_spaces, 
.events {
    background-color: black;
    padding-top: 30px;
    
}

.exhibition_spaces {
    display: none;
}

.exhibition_mobile h1 ,
.exhibition_spaces h1 ,
.events h1,
.events h2 {
    color: #FFF;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.events h2 {
    display: none;
}

.back_to {
    background-color: #d865aa;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    font-size: 30px;
}

.back_to a {
    color: #FFF;
    padding: 15px;

}

.why_visit {
    display: flex;
    text-align: center;
    max-width: 1000px;
    flex-direction: column;
}

.why_visit_img {
    width: 100%;
    height: 400px;
}

.why_visit p {
    display: none;
}


.events_info {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.events h1 {
    padding-bottom: 10px;
}

.eventx {
    padding: 40px;
    background: #fff;
    text-align: center;
    padding: 20px;
}

.eventx img {
    height: 400px;
    width: 280px;
    border-radius: 20%;
}

.event3 h3 {
    padding-bottom: 30px;
}

.event1 {
    border: 30px solid #fecf63;
}

.event2 {
    border: 30px solid #92c77a;
}

.event3 {
    border: 30px solid #31abeb;
}


/* Exhibition Spaces */
.exhibition_page {
    border-top: 90px solid #92c77a;
}

.exhibition_img {
    border-radius: 10%;
    height: 300px;
    width: 400px;
    align-self: center;
}

.exhibition_page_content {
    display: flex;
    flex-direction: column;
}

.exhibition_content {
    display: flex;
    padding: 30px;
 
}

.exhibition_text {
    padding: 0px 40px;
}

.exhibition_page_content2 ,
.exhibition_page_content4 {
    display: flex;
    flex-direction: row-reverse;

}


.exhibition_page_content1 {
    border: 30px solid #faa03c;  
}

.exhibition_page_content2 {
    border: 30px solid #d865aa; 
}

.exhibition_page_content3 {
    border: 30px solid #92c77a;  
}

.exhibition_page_content4 {
    border: 30px solid #31abeb;   
}

.exhibition_page_content5 {
    border: 30px solid #fecf63; 
}

/* what's on */
.special_events_page {
    border-top: 90px solid #d865aa ;
}

.event_view  {
    max-width: 1000px;
    margin: 50px auto;   
}

.event_content {
    max-width: 1000px;
    gap: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.event_content > * {
    flex: 1;
    padding: 10px;
}

.event_img {
    border-radius: 30px;
    width: 310px;
    height: 220px;
}

.event_1 {
    border: 30px solid #faa03c;
}

.event_2 {
    border: 30px solid #92c77a;     
}

.event_3 {
    border: 30px solid  #31abeb;
}

.event_3 h2 {
    padding-bottom: 40px;
}

.event_3 img {
    height: 220px;
    width: 320px;
    
}

/* visit us*/
.visit_us_page {
    border-top: 90px solid #31abeb ;
}

.visit_info {
    background: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -4px;
    text-align: center;
} 

.visit_loction {
    font-size: 24px;
    padding-top: 0px;
}

.visit_hours {
    font-size: 16px;
}
    
.visit_content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
}

.visit_content h2 {
    font-size: 36px;
    text-align: center;
}

.guided_tours {
    padding: 0px 50px;
    text-align: center;
}

.facility > * {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
}

.facility i {
    font-size: 80px;
    padding: 30px; 
}

.accessibility {
    border: 30px solid #d865aa;
}

.food {
    border: 30px solid #fecf63;
}

.shop {
    border: 30px solid #92c77a;
}

/* Explore */
.explore_page {
    border-top: 90px solid #fecf63 ;
}

.explore_content {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    padding: 30px;
}

.explore_image_container {
    display: flex;
}

.explore_image_container img{
    display: 1;
}

.explore_image_container img {
    margin: 10px;
}

.explore_info {
    background-color: #fecf63;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* Get involved */
.get_involved_page {
    border-top: 90px solid #faa03c ;
}

.get_involved_content {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
}

.get_support {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.get_involved_img_container {
   width: 500px;  
}

.get_involved_info {
    background-color: #fecf63;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
